# Flutter/Dart
**/build/
**/.dart_tool/
**/.packages
**/.pub-cache/
**/.pub/
**/pubspec.lock

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Dependencies
node_modules/
bun.lock

# Environment
.env
.env.local

# Build outputs
dist/
out/